 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Header styles */

header {
	background: #7cc576;
	font-family: sans-serif;
	font-size: 35px;
	position: fixed;
	width: 100%;
} 

.logo {
	float: left;
	width:100px;
	padding: 46px;
}

.page-title {
	position: relative;
	left: 140px;
	top: 45px;
	font-size: 40px;

}

.nav-container {
	position: relative;
	top: 140px;
	float: left;
	width: 900px;
	font-size: 16px;
}

.main-nav {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-element-home {
	display: inline;
	background-color: #6dcff6;
	width: 164px;
	height: 66px;
	border: 15px;
	padding: 15px;
	margin: 60px;	
	text-align: center;
}

.nav-element-about {
	display: inline;
	background-color: #6dcff6;
	width: 164px;
	height: 66px ;	
	border: 15px;
	padding: 15px;
	margin: 60px;
	text-align: center;
}
.nav-element-contact {
	display: inline;
	background-color: #6dcff6;
	width: 164px;
	height: 66px ;	
	border: 15px;
	padding: 15px;
	margin: 60px;
	text-align: center;
}

.nav-element-work {
	display: inline;
	background-color: #6dcff6;
	width: 164px;
	height: 66px ;	
	border: 15px;
	padding: 15px;
	margin: 60px;
	text-align: center;
}


/*main content styles*/

.main {
	background-image: https://www.toptal.com/designers/subtlepatterns/circles-light/;
	padding: 15px;
	width:100%;
	box-sizing: border-box;
}